{% extends 'finance/base.html' %}


{% block title %}Create category{% endblock %}

{% block navbar %}
    {% include "finance/navbar.html" with active_nav='Transactions' %}
{% endblock %}

{% block content %}


{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{{ form.media }}
<div class="row">
    <div class="col-8">
<form action="." method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <!--<div class="form-group row">-->
        <!--<label for="category" class="col-sm-2 col-form-label">Category</label>-->
        <!--<div class="col-sm-6">-->
            <!--<select class="custom-select" id="category" name="category">-->
                <!--{% for category in categories %}-->
                    <!--<option value="{{ category.id }}">{{ category.name }}</option>-->
                <!--{% endfor %}-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
        <!--<label for="type_operation" class="col-sm-2 col-form-label">Type operation</label>-->
        <!--<div class="col-sm-6">-->
            <!--<select class="custom-select" id="type_operation" name="category">-->
                <!--{% for choice in choices %}-->
                    <!--<option>{{ choice.1 }}</option>-->
                <!--{% endfor %}-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
        <!--<label for="total" class="col-sm-2 col-form-label">Total amount</label>-->
        <!--<div class="col-sm-6">-->
            <!--<input type="text" class="form-control" id="total" value="{{ transaction.total }}" name="total">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
        <!--<label for="description" class="col-sm-2 col-form-label">Description</label>-->
        <!--<div class="col-sm-6">-->
            <!--<input type="text" class="form-control" id="description" value="{{ transaction.description }}" name="description">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group row">-->
        <!--<label for="date" class="col-sm-2 col-form-label">Date</label>-->
            <!--<div class="col-sm-6">-->
                <!--<input type="date" class="form-control" id="date" value="{{ transaction.date }}" name="date">-->
            <!--</div>-->
    <!--</div>-->

    <div class="form-group row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">{% if update %}Update{% else %}Create{% endif %}</button>
        </div>
        <div class="col-sm-1">
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </div>



</form>
        </div>
</div>
{% endblock %}