{% extends 'finance/base.html' %}

{% block title %}Home page{% endblock %}


{% block navbar %}
    {% include "finance/navbar.html" with active_nav='Home' %}
{% endblock %}


{% block content %}

    {% if user.is_authenticated %}
    <h2 class="lead">Greeting {{ user.username }} on Home page </h2>
    {% else %}
    <h2 class="lead">Greeting stranger on Home page </h2>
    <p class="lead">Choose one of the following option:</p>
    <p><a href="{% url 'finance:login' %}">Log In</a></p>
    <p><a href="{% url 'finance:register' %}">Sign Up</a></p>
    {% endif %}
{% endblock %}